<ul>
<li><font color="#5C1158">Events in Syracuse</font> (<a href="https://www.facebook.com/SyracuseTango" target="_blank">Facebook page</a>)</li>
<li><font color="#AB8B00">Events in Ithaca</font> (<a href="http://gr.orgsync.rso.cornell.edu/org/tango/home" target="_blank">Ithaca Tangueros</a> and their <a href="https://www.facebook.com/groups/IthacaTango" target="_blank">Facebook page</a>)</li>
<li><font color="#5F6B02">Events in Utica</font> (<a href="https://www.facebook.com/ArgentineTangoMV" target="_blank">Facebook page</a>)</li>
<li><font color="#125A12">Holidays</font></li>
</ul>
<iframe src="https://calendar.google.com/calendar/embed?src=v3k6m7ou085m338mev285b29tk%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
