<ul>
<li><font color="#23164E">Events in Syracuse</font></li>
<li><font color="#AB8B00">Events in Ithaca</font></li>
<li><font color="#125A12">Holidays</font></li>
</ul>
<iframe src="https://calendar.google.com/calendar/embed?showTz=0&amp;height=400&amp;wkst=2&amp;hl=en&amp;bgcolor=%23FFFFFF&amp;src=v3k6m7ou085m338mev285b29tk%40group.calendar.google.com&amp;color=%2323164E&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;src=8r6jrudlduk1fe8g6lp3l9g7ho%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=ta10ajf8nv2dbem6s8othhsi58%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" style="border-width:0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>