<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li>to get our newsletter, send an email to:</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2" align="center">
        <ul class="social-media-list">
          <li>
            <a href="https://www.facebook.com/SyracuseTango"><span class="icon">{% include icon-facebook.svg %} <span class="username">SyracuseTango</span></a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3" align="right">
        <a href="{{ "/feed.xml" | relative_url }}">subscribe to news via RSS</a>
      </div>
      
    </div>

  </div>

</footer>
